body {
  margin: 0;
  font-family: 'Dosis', sans-serif;
  font-size: 1.2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: lightgrey;
}

code {
  font-family: "Baskervville", source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p {
  margin: 5px 0;
}

h1 {
  margin: 15px 0;
}